<div id="yourPosts">
	
	<header>
		<ul id="postTabs">
			<li class="active"><a href="#ideas" data-toggle="tab">Ideas</a></li>
			<li><a href="#published" data-toggle="tab">Published</a></li>
		</ul>	
	</header>	
	
	<div class="tab-content">
		
		<div id="ideas" class="tab-pane active">
			
			<%=  form_for([:backend, @post], :url => backend_new_idea_path,	:remote => true, :html => { :id => 'idea_form'}) do |f| %>
				<%= f.text_field :title, :placeholder => 'add a new idea here' %>
			<% end %>
		
			<ul id="ideasList">
				<% @ideas.each do |post| %>
				<li>
					<%= link_to post["value"].title, edit_backend_post_path(post["value"].id), :class => "post_link" %>
				</li>
				<% end %>
			</ul>
			
		</div>
		
		<div id="published" class="tab-pane">
		
			<ul>	
				<% @published.each do |post| %>
				<li>
					<%= link_to post["value"].title, edit_backend_post_path(post["value"].id) %>
				</li>		
				<% end %>
			</ul>
			
		</div>
		
	</div>
</div>