<article class="link">
	<span class="pubdate"><%= post.pubdate %></span>	
	<h2>
		<%= link_to post.title, post.url %>&nbsp;
		<%= link_to image_tag("slog_permalink.png", size: "16x10"), post_path(post), class: "permalink" %>
	</h2>
	
	<%= raw post.body %>
		
</article>