.m-archive-year {
  margin: 2em 0 1em 0;

  font-family: $serif_font;
  font-size: 2em;
  font-weight: 700;
  color: $archive_year_color;

  &:first-child {
    margin-top: 0;
  }
}

.m-archive-month-listing
{
  padding-left: 0em;
  margin-bottom: 3em;

  width: 90%;
}

.m-archive-month {
  font-weight: 300;
  font-size: 1.8em;
  margin: 0;
  color: $archive-month-color;
}

.m-archive-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin: 1.3em 0;

    &:first-child {
      margin: .5em 0;
    }
  }

  a {
    text-decoration: none;
    color: $archive_item_color;
    font-weight: 700;
    font-size: 1.3em;
    line-height: 1.5em;

    border-bottom: 1px solid $article_headline_border_color;

    &:hover {
      color: $archive_item_hover_color;
      border-bottom: 1px solid $article_headline_border_color_hover;
    }
  }
}