.m-posts,
.m-post {
  margin-bottom: 10em;

  article {
    margin-bottom: 7em;

    @include screen() {
      max-width: 550px;
    }

    @include iphone() {
      margin-bottom: 3em;
    }

    @include iphone-portrait() {
      width: 96%;
      margin: .75em auto 3em auto;
    }

    time {
      color: $article_date_color;
      font-weight: 200;
      font-size: .9em;
    }
  }

  h2 {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
  }

  a {
    color: $post_link_color;
  }

  .m-post-title {
    color: $article_headline_color;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: .8em;
    text-decoration: none;

    border-bottom: 1px solid $article_headline_border_color;

    &:hover {
      border-bottom: 1px solid $article_headline_border_color_hover;
    }

    @include iphone () {
      font-size: .7em;
    }
  }

  p, li {
    font-family: $serif_font;
    font-weight: normal;
    font-size: 1.1em;
    letter-spacing: 0.2px;
    line-height: 1.75em;
    margin-bottom: 1em;

    color: $article_copy_color;

    @include hyphens(auto);

    @include iphone() {
      font-size: 1em;
      line-height: 1.5em;
    }
  }

  blockquote {
    margin: 0;
    padding: 0 1em;
    border-left: 3px solid $article_blockquote_border_color;

    >p {
      font-style: italic;
      color: $article_blockquote_color;
    }
  }

  ul, ol {
    margin: 1em 0;
    padding: 0;
  }

  ul {
    list-style-type: square;
  }
}

.m-post-article {
  .m-post-title {
    font-family: $sans_font;
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: none;

    color: $article_headline_color;
    border-bottom: none;

    @include iphone() {
      font-size: .9em;
    }
  }
}

.m-posts-more {
  h3 {
    color: $posts_more_color;
  }

  ul {
    list-style-type: none;
    margin: 0 0 0 2em;
    padding: 0;

    li {
      margin-bottom: 1em;
    }

    li a {
      font-weight: 700;
      font-size: 1.1em;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    font-family: $sans_font;
    font-size: 1em;
    margin: 2em 0;
  }
}