.m-sidebar {
  position: fixed;
}

.m-sidebar-last-update {
  width: 50%;
  margin: 0 auto;
  margin-top: 150px;
  font-weight: 300;
}

.m-sidebar-menu-list {
  width: 50%;
  margin: 1em auto;
  padding: 0;
  display: block;
  list-style-type: none;

  >li {
    >a {
      display: inline-block;
      padding: .25em 1em;
      margin: .5em 0;

      border-radius: 12px;
      border: 4px solid $menu_item_border_color;

      color: $menu_item_font_color;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        border-color: $menu_item_border_color_hover;
        color: $menu_item_font_color_hover;
      }
    }
  }
}