.m-sidebar-menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  @include clearfix();

  @include iphone-portrait() {
    width: 96%;
    margin: 0 auto;
  }

  >li {

    >a {
      display: inline-block;
      padding: .25em 1em;
      margin: .5em 0;

      background: $menu_item_border_color;
      border-radius: 4px;

      color: $menu_item_font_color;
      text-decoration: none;
      font-weight: 600;

      &:hover,
      &:active {
        background: darken($menu_item_border_color, 10%);
        color: $menu_item_font_color_hover;
        @include transition (all 0.3s ease-in-out);
      }

      @include iphone-landscape() {
        margin: 1em 0;
        font-size: .8em;
      }

      @include iphone-portrait() {
        font-size: .7em;
        padding: .6em .9em;
      }

    }

    @include iphone-portrait() {
      float: left;
      margin: 0 .15em;
    }
  }
}

.m-sidebar-date {
  font-weight: 400;
  color: $last_update_color;
  margin-top: 170px;

  @include ipad-portrait() {
    margin-top: 480px;
  }

  @include ipad-landscape() {
    margin-top: 200px;
  }

  @include iphone-landscape() {
    font-size: .7em;
  }

  @include iphone-portrait() {
    display: none;
  }
}