@import "mixins.css.less";
@import "elements.css.less"; // lesselements.com
@import "twitter/bootstrap/mixins";

body {
	.sourceSans;
	background: #fff;
	color: @backendTextGray;
}

.sidebar {
	
	.logoLink {
		width: 72px;
		margin: 0 auto;
	}
		
	.btn-group {
		padding-top: 1em;
		font-size: 1em;
		text-align: center;
		
		a, ul {text-align: left;}
			
	}
}

#yourPosts {
	border: 1px solid @backendBorderGray;
	.rounded(5px);
	
	header {
		#gradient > .vertical(@backendGrayLighter, @backendGrayLight);
		.border-radius(5px, 0, 0,5px);
		
		h2 {
			margin: 0;
			padding: 10px;
			font-size: 1.2em;
			line-height: 1.4em;
		}
		
		#postTabs {
			.clearfix;
			list-style-type: none;
			margin: 0;
			padding: 0 10px;			
			border-bottom: 1px solid darken(@backendBorderGray, 10%);
			
			li {
				float: left;
				padding: 0;
				margin-right: 1em;
				
				a {
					color: @backendTextGray;
				}
				
			}
			
			li.active {
				border-bottom: 3px solid #000;
				a {color: #000}
			}
			
		}
	}
	
	#idea_form {
		background: @backendGrayLighter;
		padding: 10px;
		margin: 0;
		
		#post_title {
			width: 95%;
		}
		
		border-bottom: 1px solid @backendBorderGray;
	}
	
	.tab-content{ 
		max-height: 450px;
		overflow: auto;
		
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			
			li {
				.clearfix;
				margin: 0;
				padding: .5em 20px;
				font-size: 1.2em;
				line-height: 1.8em;		
				border-bottom: 1px solid @backendBorderGray;
				
				a {
					.openSansBold;
					color: #000;
				}
				
				&:last-child {
					border: none;
				}
				
			}
		}
	}
}

#post_form {
	#post_title {
		font-size: 2em;
		height: 1.45em;
		padding-top: .25em;
		padding-bottom: .25em;
		color: #000;
	}

	#post_mdown {
		color: #000;
	}
	
	input, textarea {
		.sourceSans;
	}
	
	input[type='text'], input[type='url'] {
		width: 98%;
	}
	
	.CodeMirror {
		.openSans;
		max-height: 25em;
		line-height: 1.4em;
	}
	
	#post_url {
		color: #888;
	}
	
	.btn-group {
		vertical-align: top;
		i {display:none;}
	
		.active i {display:inline;}
	}
	
}

footer {
	background: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
	
	padding: 1.5em 0;
	
	text-align: center;
}


