<% cache post do %>
<article class="m-post-link">
  <h2>
		<%= link_to post.title, post.url, class: "m-post-title" %>&nbsp;<%= link_to image_tag("anchor.svg", size: "16x10"), post_path(post), class: "permalink" %>
	</h2>

	<%= raw post.body %>
</article>
<% end %>