<% cache @posts do %>
<section class="m-posts">
  <% @posts[0..9].each do |post|
    	if post.url %>
    		<%= render :partial => "link", :locals => { :post => post } %>
    <% else %>
    		<%= render :partial => "article", :locals => { :post => post } %>
    <% end %>
  <% end %>

  <section class="m-posts-more">
    <h3>weitere Artikel:</h3>
    <ul>
      <% @posts[-5..-1].each do |post| %>
      <li><%= link_to post.title, post_url(post["id"]) %></li>
      <% end %>
    </ul>
    <p>
        Ältere Artikel gibt es im <%= link_to "Archiv", all_posts_url %>!
    </p>
  </section>

</section>
<% end %>