<% cache @post.cache_key do %>
<section class="m-post">
  <% if @post.url.blank? %>
  	<%= render :partial => "posts/article", :locals => { :post => @post } %>
  <% else %>
  	<%= render :partial => "posts/link", :locals => { :post => @post } %>
  <% end %>
</section>
<% end %>