<section class="m-post">
  <% if @post.url %>
  	<%= render :partial => "link", :locals => { :post => @post } %>
  <% else %>
  	<%= render :partial => "article", :locals => { :post => @post } %>
  <% end %>
</section>