<section class="m-post">
  <% if @post.url %>
  	<%= render :partial => "posts/link", :locals => { :post => @post } %>
  <% else %>
  	<%= render :partial => "posts/article", :locals => { :post => @post } %>
  <% end %>
</section>