$body_background: #F5F5F3;
$body_color: #333;

$header_background_color: #FFF;
$menu_item_font_color: #777;
$menu_item_font_color_hover: #444;
$menu_item_border_color: #ddd;
$menu_item_border_color_hover: #888;

$title_color: #333;
$tagline_color: #666;
$author_color: #444;
$last_update_color: #555;

$article_headline_color: #000;
$article_headline_border_color: lighten($article_headline_color, 80%);
$article_headline_border_color_hover: lighten($article_headline_color, 40%);
$article_copy_color: $body_color;
$article_blockquote_color: lighten($article_copy_color, 10%);
$article_blockquote_border_color: $article_headline_border_color;