@import "mixins.css.less";
@import "elements.css.less";

@gray: #272727;
@gray_txt: lighten(@gray, 1%);
@gray_light: lighten(@gray, 30%);
@gray_lighter: #C8C8C8;
@green: #BECCBF;
@green_light: lighten(@green, 18%);
@green_dark: darken(@green, 35%);

body {
	.openSans;

    background: #e4e0d7;
    font-size: 14px;
    line-height: 1.5em;
	padding: 5em 0;
}

header {
	width: 30%;
	float: left;
	padding-left: 5%;
	
	div {
		width: 170px;
		margin: 0 auto;
		
		img { margin-left: 35px;}
	}
	
	h1 {
		.openSansExtraBold;
		color: #4c5059;		
		font-size: 1.5em;
		font-weight: normal;
		line-height: 1.5em;
		
		span {
			.openSans;
			font-weight: lighter;
		}		
	}
	
	ul {
		margin: 3em 0;
		padding: 0;
		list-style-type: none;
		
		li {
			.border-radius(0, 0, 5px, 5px);
			background: #aaaaa6;			
			margin: .5em 15px 0 0;
			padding: 0 .5em;
			line-height: 25px;
			
			a {
				font-size: .9em;
				font-weight: bold;
				color: #4c5059;
				text-decoration: none;
				display: block;
				width: auto;
			}
			
			span {
				.rounded(50%);
				background: #8f8b87;
				width: 25px;
				height: 25px;
				display: block;
				float: right;
				margin-right: -19px;
			}
			
			&:hover {
				background: #8f8b87;
				
				span {
					background: #aaaaa6;
				}
			}
		}
	}
}
    
section {
	width: 600px;
	margin-left: 40%;	
}

#more_button {
	.rounded(5px);
	background: #8f8b87;
	margin: 2em auto 0 20%;
	padding: .5em;
	
	display: block;
	width: 300px;
	text-align: center;
	
	color: #aaaaa6;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	
	&:hover {
		background: #aaaaa6;
		color: #8f8b87;
	}
}

article {
    color: #4c5059;    
    margin: 0;
    width: 95%;
	
	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
    
    a {
        color: #4c5059;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px solid @gray_lighter;
        
        &:hover {
        	color: #000;
        }
        
    }
    
    h2 {
        margin: 0;
        
        a {
        	.openSansBold;
        	font-weight: normal;
        	text-decoration: none;
			border: none;
        	
            color: #4c5059;
            
            &:hover {
                color: @gray_light;
                background: none;
            }
        }
    }
    
    .pubdate {
        color: @gray_light;
        display: block;
        font-weight: lighter;
    }
    
    p {
        margin: 2em 0;
    }
	
	h2 + p,
	h2 + blockquote,
	h2 + blockquote p
	{
		margin-top: .5em;
	}
    
    p:last-child {
        margin-bottom: 0;
    }
    
    p + ul {
	    margin-top: -1em;
    }
    
    ul {
        list-style-type: square;
		width: 90%;
    }
    
    blockquote {
        border-left: 1px solid @gray_lighter;
        margin-left: 0;
        padding-left: .75em;        
        width: 85%;
    }
	
	iframe {
		margin-top: .5em;
		max-width: 100%;
	}
}

article.article {
    
    h2 {
        a {
            font-size: 1.2em;
            color: #000;
            line-height: 1.2em;
            
            &:hover {
                color: @gray_light;
            }
        }
		
    }
    
    .pubdate {
        margin-bottom: 1.5em;
    }
    
}

article.link {
	
	margin-bottom: 3em;
    
    h2 {
        a {
            font-size: .7em;
        }
		
		a.permalink {
			border: none;
			margin-left: .5em;
		}
        
    }
    
    .pubdate {
        font-size: .9em;
    }
}

article.article + article.link,
article.link + article.article,
article.article + article.article {
    margin-top: 4em;
}

article.link + article.link {
    margin-top: 1em;
}