header {
  width: 100%;

  >nav {
    margin: 0 auto;
  }

  >section {

  }

}

.container {
  padding-top: 50px;
  @include clearfix();
}

.left-column {
  position: absolute;
  left: 0;
  width: $left_column_size;
}

.right-column {
  position: relative;
  width: $content_width;
  margin: 0 auto;
}