.centered(@min, @max) { 
    margin: 0 auto;
    min-width: @min;
    max-width: @max;
}

// Clearfix for clearing floats like a boss h5bp.com/q
.clearfix {
  zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    zoom: 1;
  }
  &:after {
    clear: both;
  }
}

// Backend Colors
@backendGrayLight:		#DFDFDF;
@backendGrayLighter:	lighten(@backendGrayLight, 10%);
@backendBorderGray:		darken(@backendGrayLight, 10%);
@backendTextGray:		#42464A;


//Font-Stacks
.sourceSans {
  font-family: SourceSansPro, Helvetica, Arial, sans-serif;
}

.sourceSansBold {
  font-family: SourceSansProBold, Helvetica, Arial, sans-serif;
}

.sourceSansExtraBold {
  font-family: SourceSansProBlack, Helvetica, Arial, sans-serif;
}